*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Reem Kufi', sans-serif;
}

header{
    background-image: url(Img/Bg\ Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.new-features{
    color: tomato;
    font-size: 15px;
    font-weight: 400;
}

/* home  */

#home{
    text-align: center;
    padding-top: 25vh;
}

.home-text{
    font-size: 30px;
}

.home-text h1{
    font-weight: 100;
    letter-spacing: 3px;
}

.video-icon{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
    opacity: 80%;
    cursor: pointer;
}

.video-icon:hover{
    opacity: 100%;
}

.trybutton button{
    padding: 20px 60px;
    border: 0;
    outline: none;
    background-color:tomato;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
}

.trybutton button:hover{
    background-color: rgb(226, 84, 59);
}

.home-text span{
    font-size: 15px;
}

/* main  */

#newdesign{
    height: 100vh;
    display: flex;
    
}

.new-design-text{
    flex-basis: 50%;
    padding: 200px 100px;
    font-weight: 100;
    background-color: rgb(226, 225, 225);

}


.new-design-text h2{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: rgb(53, 53, 53);
}

.new-design-text p{
    padding-bottom: 20px;
    font-size: 15px;
    color: rgb(90, 90, 90);
}
.design{
    flex-basis: 50%;
    background-color: rgb(252, 110, 133);
}

#features{
    background-color: rgb(235, 233, 233);
    height: 100vh;
}

.features-heading{
    text-align: center;
    padding-top: 200px;
    font-size: 20px;
}

.features{
    display: flex;
    padding: 60px;
    text-align: center;
}

#features-icon{
    padding: 25px;
}

/* icons */

#features-icon i{
    color: lightseagreen;
    font-size: 50px;
    cursor: pointer;
}

#features-icon i:hover{
    color: rgb(28, 143, 137) ;

}

#features-icon p{
    font-size: 13px;
}
#features-icon h4{
    padding-top: 20px;
    padding-bottom: 30px;
}

/* responsive  */

#responsive{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.responsive-text{
    text-align: left;
    flex-basis: 50%;
    flex-wrap: wrap;
    padding: 100px;

}

.responsive-img{
    text-align: center;
    flex-basis: 50%;
}

/* Owners  */

#owners{
    
    background-image: linear-gradient(rgba(13, 16, 17, 0.9), rgba(13, 16, 17, 0.9)), url(Img/owners\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: 30px 90px;
}

.owners{
    display: flex;
}

.owners div{
    padding: 30px;
    text-align: center;
}

.owners div h5{
    font-size: 20px;
    padding-bottom: 15px;

}

.owners div span{
    color: tomato; 
}

.owners div blockquote{
    font-style: italic;
    font-size: 13px;
    padding-top: 30px;
}

/* partners */

.ourpartners{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ourpartners img{
    cursor: pointer;
}

#feature-tab{
    height: 90vh;
    text-align: center;

}

.tab-img img{
    cursor: pointer;
}

.feature-tab-heading{
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.feature-tab-heading h2{
    padding-top: 20px;
    padding-bottom: 30px;
}

#our-users{
    height: 50vh;
    text-align: center;
    background-color:darkslategrey;
    padding-top: 30px;
    color: white;
}

/* mail  */

.form{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    
    
}


.form div input{
    padding: 15px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgb(64, 99, 99);

}

.terms-services{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.form div button{
    padding: 15px;
    width: 200px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: tomato;
    color: white;
    border-radius: 3px;

}

.form div button:hover{
    background-color: rgb(235, 89, 63);
}

/* Footer  */

#footer{
    display: flex;
    padding: 50px;
    flex-basis: 20%;
    font-size:medium;
    
}

#footer > div{
    margin: 40px;

}

.devoloper{
    width: 20%;
    color: gray;
}

.devoloper img{
    padding-bottom: 20px;
}

.support{
    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    flex-direction: column;
}

.bot-design{
    background-color: crimson;
    width: 20%;
    height: 200px;
}

#footer div a{
    text-decoration: none;
    padding-bottom: 10px;
    color: gray;
    font-size: smaller;
}

#footer div a:hover{
    color: rgb(53, 52, 52);
}

#footer div h4{
    padding-bottom: 40px;
    font-size: larger;
}

/* Send Mail Box  */

.email-box{
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;

}

.email-box i{
    text-align: center;
    color: white;
    background-color: tomato;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.email-box i:hover{
    background-color: rgb(235, 89, 63);
}

.send-mail input{
    padding: 0px 20px;
    outline: none;
    border: none;
}

/* Social Media Links */
.media-links{
    text-align: center;
}

.media-links i{
    padding: 20px 15px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    opacity: 60%;
}

.media-links i:hover{
    opacity: 100%;
}

/* Css End Here  */




